<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>EK File Explorer</title>
  </head>
  <body oncontextmenu="return false;">
    <div id="root" style="height: 100vh"></div>
  </body>
</html>
