@tailwind base;
@tailwind components;
@tailwind utilities;


/*
npx tailwindcss -i ./src/renderer/input.css -o ./src/renderer/output.css --watch

*/
button {cursor: pointer;}

.test {

}

html, body, * {
  user-select: none;
  outline: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Freckly Face";
  src: url("./assets/fonts/Freckle_Face/FreckleFace-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

#rangeslider .range-slider__thumb[data-lower] {
  width: 0;
}

#rangeslider .range-slider__thumb[data-lower] {
  width: 0;
}

#rangeslider {
  border: 1px solid;
}

#rangeslider .range-slider__thumb[data-upper] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid rgb(163,163,163);
  background-color: rgb(37 ,99 ,235);
}

#rangeslider:focus .range-slider__range {
  background-color: aqua;
}

#rangeslider .range-slider__range {
    background-color: rgb(37 ,99 ,235);
    border-radius: 12px;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 22px;  /* increased width */
}

.scrollbar-custom::-webkit-scrollbar-track {
  width: 22;  /* same as scrollbar width */
  background: rgb(221, 221, 221);
  border: 3px solid transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  width: 12px;  /* smaller than track */
  background: #a8a8a8;
  border: 3px solid transparent;
  /* Add padding to create space around thumb */
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #7e7d7d;
  background-clip: padding-box;
}

.titlebar {
  -webkit-app-region: drag; /* allows dragging window */
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Buttons */
.window-controls button {
  -webkit-app-region: no-drag; /* buttons should be clickable */
  cursor: pointer;
}

/* Main content */
.content {
  padding: 20px;
}
